<footer>
   <div id="footer-container">
    <p>@All rights reserved</p>
     <div id="footer-links">
       <a href="/">Home</a><br>
       <a href="/users/sign-in">Profile</a>
     </div> 
   </div>
</footer>