   <!-- <script src="https://kit.fontawesome.com/1fea76eb58.js" crossorigin="anonymous"></script> -->
   <header class="header">
      <p>
        <span>        
            <!-- <i class="fas fa-user-circle"></i> -->
        </span> 
        Social
      </p>
      
      
    
    <!-- <div id="header-id">   -->
    <ul id="header-id">
        <% if (locals.user){ %>

            <li>
                <a href="/">Home</a>
            </li>


            <li>
                <a href="/users/profile/<%=user.id%>">
                  <!-- <%= user.name %> -->
                  Profile
                </a>
            </li>

            <li>
                <a href="/users/sign-out">Sign Out</a>
            </li>

        <% }else{ %>

            <li>
                <a href="/users/sign-in">Sign In</a>
            </li>

            <li>
                <a href="/users/sign-up">Sign Up</a>
            </li> 

        <% } %>
    
    </ul>
    <!-- </div> -->

    </header>