
     <script src="https://kit.fontawesome.com/1fea76eb58.js" crossorigin="anonymous"></script>
     <link  rel="stylesheet"  href="/css/calculator.css">
      
        <title><%= title%></title>

        <div id="container-div">
          <table> 
            <tr id="row1">
                <td colspan="4">Calculator</td> 
            </tr> 

            <tr id="row2">
                <td  id="display" colspan="4"></td> 
            </tr>


            <tr>
                <td class="button" value ="AC">AC</td>
              
                <td class="button" value = "%">%</td>

                <td class="button" value = "backspace"><i class="fas fa-backspace"></i></td>
            
                <td class="button" value = "/" id="last-col">/</td>
            </tr>  

            <tr>
                <td class="button" value = "7">7</td>
                
                <td class="button" value = "8">8</td>
  
                <td class="button" value = "9">9</td>
              
                <td class="button" value = "*" id="last-col">*</td>
            </tr>  
  
            <tr>
                <td class="button" value = "4">4</td>
                
                <td class="button" value = "5">5</td>
  
                <td class="button" value = "6">6</td>
              
                <td class="button" value = "-" id="last-col">-</td>
            </tr>  
            
            <tr>
                <td class="button" value = "1">1</td>
                
                <td class="button" value = "2">2</td>
  
                <td class="button" value = "3">3</td>
              
                <td class="button" value = "+" id="last-col">+</td>
            </tr>  
  
            <tr>
                <td class="button" value = "0" colspan="2">0</td>
                
                <td class="button" value = ".">.</td>
  
                <td class="button" value = "=" id="last-col">=</td>
            </tr>  

          </table>  
        
        
        </div>


    <script type="text/javascript" src="/js/calculator.js"></script>
    