<link rel="stylesheet" href="/css/home.css">
<!-- <h1>
    SocialApp | Home 
</h1>  -->


<div id="all-container">

      <section id="user-friends">
        <h2>Friends</h2>
          
          <% for(u of all_users){ %>
          <p>
            <a href="/users/profile/<%=u.id%>"><%= u.name %></a>
          </p>
          <% } %>      
      </section>

        

      <section id="feed-posts"> 
        <h2>Posts</h2>

              <% if(locals.user){ %>
              <form action="/posts/create" id="new-post-form" method="POST">
                  <textarea name="content" cols="30" rows="3" placeholder="Type Here" required></textarea>
                  <input type="submit" value="Post">   
              </form>
              <% } %> 
          
      
          <div id="posts-list-container">
                <ul>
                  <% for(post of posts){ %>
                  
                    <%- include('_post') -%>

                  <% } %> 
                </ul>
          </div>
      </section>
   

      <section id="user-features">
        <h2>Features</h2> 
          <p>
            <% if(locals.user){ %>
            <a href="/users/features/todo/<%=user.id%>">TODO List</a>
            <%}%>
          </p>

          <p>
            <% if(locals.user){ %>
            <a href="/users/features/calculator">CALCULATOR</a>
            <%}%>
          </p>
      </section> 

</div>

<script src="/js/home_posts.js"></script>
<script src="js/toggle_likes.js"></script>
<script>
  $('.toggle-like-button').each(function(){
      let self = this;
      let toggleLike = new ToggleLike(self);
  });
</script>

