<link rel="stylesheet" href="<%= assetPath('css/user_sign_in.css') %>">
<script src="https://kit.fontawesome.com/1fea76eb58.js" crossorigin="anonymous"></script>

<div id="signin">

    <h1>Sign-in</h1>

    <div id="form-id">    
        <form action="/users/create-session" method="POST">
            <input type="email" id="input1" name="email" placeholder="Email" required >
            <input type="password" id="input2" name="password" placeholder="Password" required>
            <a href="/reset_password/verify-email" id="forgot-password">Forget password?</a> 
            <button type="submit" value="Sign In">Sign In</button>
        </form>
    </div>


    <div id="google-login">
        <a href="/users/auth/google">Google-login 
            <span> 
                <i class="fab fa-google"></i>
            </span>
        </a> 
    </div>
    

   
</div>

