<link rel="stylesheet" href="/css/user_sign_up.css">
<script src="https://kit.fontawesome.com/1fea76eb58.js" crossorigin="anonymous"></script>


<div id="signup">

  <h1>Sign-up</h1>

   <div id="form-id"> 
    <form action="/users/create" method="POST">
      <input type="text" name="name" placeholder="Your Name" required>
      <input type="email" name="email" placeholder="Your Email" required>
      <input type="password" name="password" placeholder="Password" required>
      <input type="password" name="confirm_password" placeholder="confirmPassword" required>
      <button type="submit" value="Sign Up">Sign Up</button>
    </form>
   </div>

   <div id="google-login">
     <a href="/users/auth/google">Google-login 
        <span> 
            <i class="fab fa-google"></i>
        </span>
     </a> 
   </div>

</div>


  

