<link rel="stylesheet" href="<%= assetPath('css/forget_password.css') %>">

<div id="Verify_mail_div">
    <h2>Verify-mail</h2>

    <form action="/reset_password/change-password" method="POST">
        <input type="email" name="email" placeholder="verify your email" required>
        <button>Submit</button>
    </form>
</div>