  .footer-display{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: sticky;
    top: 90%;
    background-image: linear-gradient(to bottom right,rgb(93, 129, 126),#02393d);
    font-family: sans-serif;
    height: 10%;
    p{
            font-weight: 500;
            margin-left: 50px;
            font-size: 1.2rem;
            margin: 12px 20px 12px 20px;
    }
}