  .footer-display{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: fixed;
    top: 92%;
    background-image: linear-gradient(to bottom right,rgb(2, 77, 80),rgb(20, 29, 29));
    font-family: sans-serif;
    height: 8%;
    p{
            font-weight: 500;
            margin-left: 50px;
            font-size: 1rem;
            margin: 3px 20px;
    }
}