
#Verify_mail_div{
     width: 518px; 
     height: 200px;
     background-image: linear-gradient(to right top, rgb(117, 199, 151),rgb(94, 149, 151));
     margin-top: 170px;
     margin-left: 31%;
     border-radius: 42px;

    h2{
       padding-top: 10px;
       text-align: center;
    }
    

    form{

        button{
            width: 80px;
            height: 32px;
            display: block;
            margin-left: 219.5px;
            margin-top: 26px;  
            border: none;
            font-size: 1.1rem;
            border-radius: 5px;
            box-shadow: 6px 6px 8px 0px rgb(202, 202, 202);
            background-color: rgb(68, 116, 112);
            color: cornsilk;
            cursor: pointer;
        }

        input{
            width: 320px;
            height: 32px;
            display: block;
            margin-left: 100.5px;
            font-size: 1rem;   
            background-color: rgb(236, 229, 229);
            border-radius: 5px;
            padding-left: 5px;
            border: none;
            margin-top: 42px;
        }

    } 
     
}