#all-container
{
 margin-top: 30px; 
 display: flex;
 justify-content: flex-start;
 flex-wrap: wrap;
 
 #user-friends
 {   
  width: 20%;   
 }

 #feed-posts
 {   
  width: 48%;
 }

 #user-features
 {
   width: 20%;
 }
}



#user-friends
{
 margin-left: 2%;
 margin-right: 50px;  
 padding-left: 1%; 
 border-right: 2px solid rgba(221, 218, 218, 0.911);
 background-color: rgb(240, 240, 238);
 color: rgb(65, 64, 64);

 a{
   text-decoration: none;
 }

}



#feed-posts
{
  // background-color: rgb(240, 240, 238);
  display: block;  
  // border-right: 2px solid rgba(221, 218, 218, 0.911);

  h2{
     text-align: center;
     color: rgb(65, 64, 64);
   } 

  #new-post-form
  {
   margin-top: 35px; 
   margin-left: 35%;
   
   textarea
   {
     border: none;
     border-bottom: 2px solid rgb(83, 80, 80);         
   }

   input{
     margin-top: 10px;
     margin-left: 88.5px;
     display: block;
     width: 80px;
     height: 30px;
     background-color: rgb(2, 83, 79);
     border: none;
     color: white;
     font-size: 1rem;
     box-shadow: 2px 2px 3px 1px rgba(71, 70, 70, 0.911);
     font-weight: 600;
    }
  }



  #posts-list-container
 {
  display: block;
  margin-top: 50px;
  margin-left: 30%;
  text-align: left;
  color: rgb(65, 64, 64);
  
  ul{
     list-style: none;
   }
 }   
}



#user-features
{
//  padding-left: 135.625px;
 text-align: justify;
 margin-right: 2%;
 margin-left: 50px;  
 padding-right: 1%; 
 border-right: 2px solid rgba(221, 218, 218, 0.911);
 background-color: rgb(240, 240, 238);
 color: rgb(65, 64, 64);


 h2{
   text-align: center;
 }

 p{
   margin-left: 38%;
 } 


 a{
   text-decoration: none;
 }

}