#all-container
{
 margin-top: 30px; 
 display: flex;
 justify-content: flex-start;
 flex-wrap: wrap;
 
 #user-friend-Section
 {   
  width: 26%;   
 }

 #feed-posts
 {   
  width: 48%;
 }

 #user-features
 {
   width: 20%;
 }
}



#user-friend-Section
{  
  display: block;

  #All-users
  {
     height: auto;
     margin-left: 9%;
     padding: 7px 0px;
     margin-right: 50px;  
     padding-left: 20px; 
     border-right: 2px solid rgba(221, 218, 218, 0.911);
     background-color: rgb(240, 240, 238);
     color: rgb(65, 64, 64);
     margin-bottom: 20px;

    a{
       text-decoration: none;
     }
  }  
 
  #User-friends
  {
     height: auto;
     margin-left: 9%;
     padding: 7px 0px ;
     margin-right: 50px;  
     padding-left: 20px; 
     border-right: 2px solid rgba(221, 218, 218, 0.911);
     background-color: rgb(240, 240, 238);
     color: rgb(65, 64, 64);
     margin-bottom: 20px;
     
    a{
       text-decoration: none;
     }
  }
}



#feed-posts
{ 
  display: block;  
  
  h2{
     text-align: center;
     color: rgb(65, 64, 64);
   } 

  #new-post-form
  {
   margin-top: 35px; 
   margin-left: 35%;
   
   textarea
   {
     border: none;
     border-bottom: 2px solid rgb(83, 80, 80);         
   }

   input{
     margin-top: 10px;
     margin-left: 88.5px;
     display: block;
     width: 80px;
     height: 30px;
     background-color: rgb(2, 83, 79);
     border: none;
     color: white;
     font-size: 1rem;
     box-shadow: 2px 2px 3px 1px rgba(71, 70, 70, 0.911);
     font-weight: 600;
    }
  }



  #posts-list-container
 { 
  display: block;
  width: 400px;
  margin-top: 50px;
  margin-left: 30%;
  text-align: left;
  color: rgb(65, 64, 64);
  
  ul{
     list-style: none;
   }



  // .post-comments
  // {
  //   .Add-comment
  //   {
  //     float: right;
  //     margin-bottom: 0px;
  //     margin-top: 4px;
  //     // padding: 8px 25px 8px 25px ;
  //     background-color: rgb(2, 72, 75);
  //     box-shadow: 2px 2px 3px 1px rgba(71, 70, 70, 0.911);
  //     border-radius: 2px;    
  //     margin-right: 80px;
  //   }
 
  // } 


  .delete-post-button
  {
     float: right;
     margin-bottom: 0px;
     margin-top: 4px;
     padding: 8px 25px 8px 25px ;
     background-color: rgb(2, 72, 75);
     box-shadow: 2px 2px 3px 1px rgba(71, 70, 70, 0.911);
     border-radius: 2px;    
     margin-right: 80px;
   i{
      color: black;
   }
  }

  .post-comments-list
  {
    .delete-comment-button
    {
      float: right;
      margin-bottom: 0px;
      margin-top: 4px;
      margin-right: 80px;
      padding: 8px 25px 8px 25px ;
      background-color: rgb(0, 121, 111);
      box-shadow: 2px 2px 3px 1px rgba(71, 70, 70, 0.911);
      border-radius: 2px;
      i{
        color: black;
      }
    }
  }

 }   
}



#user-features
{
//  padding-left: 135.625px;
 text-align: justify;
 margin-right: 2%;
 margin-left: 50px;  
 padding-right: 1%; 
 border-right: 2px solid rgba(221, 218, 218, 0.911);
 background-color: rgb(240, 240, 238);
 color: rgb(65, 64, 64);


 h2{
   text-align: center;
 }

 p{
   margin-left: 38%;
 } 


 a{
   text-decoration: none;
 }

}