
#signup
{
   width: 553px;
   height: 400px;
   margin-left: 31%;
   background-image: linear-gradient(to right top, rgb(117, 199, 151),rgb(94, 149, 151));
   border-radius: 40px;
   margin-top: 120px;


  h1{
    padding-top: 10px;
    text-align: center;
  }

  #form-id
  {
    display: block;

    input{
              display: block;
              margin: 26px 0px;
              border: none;
              width: 320px;
              height: 40px;
              font-size: 1rem;   
              margin-left: 106.5px;
              background-color: rgb(236, 229, 229);
              border-radius: 5px;
              padding-left: 5px;
          }
          
    button{
              background-color: rgb(68, 116, 112);
              box-shadow: 6px 6px 22px 5px rgb(202, 202, 202);
              border: none;
              color: cornsilk;
              margin-left: 219px;
              width: 95px;
              height: 35px;
              font-size: 1.3rem;
              cursor: pointer;
          }      
  }
}