#signup
{
   width: 553px;
   height: 450px;
   margin-left: 33%;
   background-image: linear-gradient(to right top, rgb(117, 199, 151),rgb(94, 149, 151));
   border-radius: 40px;
   margin-top: 90px;


  h1{
    padding-top: 10px;
    text-align: center;
  }

  #google-login
  { 
    width: 146px;
    height: 35px;
    padding: 5px 7px 0px 7px;
    background-color: rgb(68, 116, 112);
    box-shadow: 6px 6px 8px 0px rgb(202, 202, 202);
    margin-left: 194.5px;
    border-radius: 5px;
    margin-bottom: 20px;

    a{  
        text-decoration: none;
        color: cornsilk;
        font-size: 1.3rem;
        font-family: sans-serif;
     }
   }



  #form-id
  {
    display: block;
    input{
              display: block;
              margin: 26px 0px;
              border: none;
              width: 320px;
              height: 40px;
              font-size: 1rem;   
              margin-left: 106.5px;
              background-color: rgb(236, 229, 229);
              border-radius: 5px;
              padding-left: 5px;
          }
          
    button{
              background-color: rgb(68, 116, 112);
              box-shadow: 6px 6px 8px 0px rgb(202, 202, 202);
              border: none;
              border-radius: 5px;
              color: cornsilk;
              margin-left: 219px;
              width: 95px;
              height: 35px;
              font-size: 1.3rem;
              cursor: pointer;
          }      
  }
}