footer {
  width: 100%;
  height: 10%;
  background-image: linear-gradient(to bottom right, #5d817e, #02393d);
  margin: 0px; }
  footer #footer-container {
    float: left;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    padding: 0px 15px; }
    footer #footer-container #footer-links {
      padding: 19px 2rem;
      text-decoration: none; }
