#Verify_mail_div {
  width: 518px;
  height: 200px;
  background-image: linear-gradient(to right top, #75c797, #5e9597);
  margin-top: 170px;
  margin-left: 31%;
  border-radius: 42px; }
  #Verify_mail_div h2 {
    padding-top: 10px;
    text-align: center; }
  #Verify_mail_div form button {
    width: 80px;
    height: 32px;
    display: block;
    margin-left: 219.5px;
    margin-top: 26px;
    border: none;
    font-size: 1.1rem;
    border-radius: 5px;
    box-shadow: 6px 6px 8px 0px #cacaca;
    background-color: #447470;
    color: cornsilk;
    cursor: pointer; }
  #Verify_mail_div form input {
    width: 320px;
    height: 32px;
    display: block;
    margin-left: 100.5px;
    font-size: 1rem;
    background-color: #ece5e5;
    border-radius: 5px;
    padding-left: 5px;
    border: none;
    margin-top: 42px; }
