#all-container {
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; }
  #all-container #user-friend-Section {
    width: 26%; }
  #all-container #feed-posts {
    width: 48%; }
  #all-container #user-features {
    width: 20%; }

#user-friend-Section {
  display: block; }
  #user-friend-Section #All-users {
    height: auto;
    margin-left: 9%;
    padding: 7px 0px;
    margin-right: 50px;
    padding-left: 20px;
    border-right: 2px solid rgba(221, 218, 218, 0.911);
    background-color: #f0f0ee;
    color: #414040;
    margin-bottom: 20px; }
    #user-friend-Section #All-users a {
      text-decoration: none; }
  #user-friend-Section #User-friends {
    height: auto;
    margin-left: 9%;
    padding: 7px 0px;
    margin-right: 50px;
    padding-left: 20px;
    border-right: 2px solid rgba(221, 218, 218, 0.911);
    background-color: #f0f0ee;
    color: #414040;
    margin-bottom: 20px; }
    #user-friend-Section #User-friends a {
      text-decoration: none; }

#feed-posts {
  display: block; }
  #feed-posts h2 {
    text-align: center;
    color: #414040; }
  #feed-posts #new-post-form {
    margin-top: 35px;
    margin-left: 35%; }
    #feed-posts #new-post-form textarea {
      border: none;
      border-bottom: 2px solid #535050; }
    #feed-posts #new-post-form input {
      margin-top: 10px;
      margin-left: 88.5px;
      display: block;
      width: 80px;
      height: 30px;
      background-color: #02534f;
      border: none;
      color: white;
      font-size: 1rem;
      box-shadow: 2px 2px 3px 1px rgba(71, 70, 70, 0.911);
      font-weight: 600; }
  #feed-posts #posts-list-container {
    display: block;
    width: 400px;
    margin-top: 50px;
    margin-left: 30%;
    text-align: left;
    color: #414040; }
    #feed-posts #posts-list-container ul {
      list-style: none; }
    #feed-posts #posts-list-container .delete-post-button {
      float: right;
      margin-bottom: 0px;
      margin-top: 4px;
      padding: 8px 25px 8px 25px;
      background-color: #02484b;
      box-shadow: 2px 2px 3px 1px rgba(71, 70, 70, 0.911);
      border-radius: 2px;
      margin-right: 80px; }
      #feed-posts #posts-list-container .delete-post-button i {
        color: black; }
    #feed-posts #posts-list-container .post-comments-list .delete-comment-button {
      float: right;
      margin-bottom: 0px;
      margin-top: 4px;
      margin-right: 80px;
      padding: 8px 25px 8px 25px;
      background-color: #00796f;
      box-shadow: 2px 2px 3px 1px rgba(71, 70, 70, 0.911);
      border-radius: 2px; }
      #feed-posts #posts-list-container .post-comments-list .delete-comment-button i {
        color: black; }

#user-features {
  text-align: justify;
  margin-right: 2%;
  margin-left: 50px;
  padding-right: 1%;
  border-right: 2px solid rgba(221, 218, 218, 0.911);
  background-color: #f0f0ee;
  color: #414040; }
  #user-features h2 {
    text-align: center; }
  #user-features p {
    margin-left: 38%; }
  #user-features a {
    text-decoration: none; }
