#profile-section {
  margin: 20px;
  display: flex;
  justify-content: flex-start;
  font-size: 1rem; }
  #profile-section #friend-requests {
    width: 15%;
    padding: 0px 5px;
    margin-right: 20px;
    background-color: #f0f0ee; }
    #profile-section #friend-requests ol {
      padding-left: 26px;
      margin-bottom: 5px;
      border-bottom: 2px solid #989999; }
    #profile-section #friend-requests h3 {
      padding-left: 10px; }
    #profile-section #friend-requests #friend-form-id {
      display: inline-block; }
      #profile-section #friend-requests #friend-form-id input {
        width: 65px;
        height: 25px;
        background-color: #076b6b;
        color: #c7c7c7;
        border: none;
        font-size: .9rem;
        font-weight: 500;
        border-radius: 4px; }
  #profile-section #update-section {
    width: 40%;
    margin-left: 10%; }
    #profile-section #update-section img {
      height: 200px;
      width: 200px;
      border-radius: 50%;
      border: 4px solid #c7c7c7;
      box-shadow: 2px 4px 25px 0px #c7c7c7;
      margin-left: 258.5px; }
    #profile-section #update-section #update-button {
      margin-top: 20px;
      height: 35px;
      width: 100px;
      border: none;
      text-align: center;
      margin-left: 312.6px;
      background-color: #c7c7c7;
      box-shadow: 5px 4px 8px 1px #076b6b; }
    #profile-section #update-section input {
      font-size: 1rem;
      display: block;
      width: 260px;
      height: 27px;
      border: none;
      border-bottom: 2px solid #1f1f1f;
      margin-top: 23px;
      margin-left: 232.6px; }
